.pic {
	width: 100%;
	margin: 4px;
	border: 2px #CCC solid;
	border-radius: 10px;
  margin-left: 0px;
}
.pin_full_picture{
  display: block;
  margin:0 auto;
  border: 6px gray groove;
  width: 45%;
  box-shadow: 7px 7px 7px black;
}
.btn_pin{
  height: 620px;
  width: 44%;
  margin: 10px;
  margin: 20px;
}
.img_pin{
  margin: 40px;
  height: 600px;
  border: 4px gray groove;
  box-shadow: 5px 5px 10px black;
}
.img_dj{
  display: block;
  margin:0 auto;
  width: 50%;
}
.img_item{
  display: block;
  margin:0 auto;
  width: 70%;
  border: 2px gray groove;
}
.for_big_pic{
  height: 99%;
  margin: 4px;
  border: 2px #CCC solid;
  border-radius: 10px;
  margin-left: 0px;
}
.for_big_image{
  display: block;
  margin:0 auto;
  height: 470px;
  margin-top: 70px;
}
.big_image{
  display: block;
  margin:0 auto;
  width: 80%;
  margin-top: 0px;
  border: 2px gray groove;
}
.galery_btn{
  margin: 2px;
  width: 24%;
  height: 200px;
}
.galery_pic{
  border: 2px gray groove;
  height: 100%;
}
.main_pic{
  border: 2px gray groove;
  width: 100%;
}
.main_vert_pic{
  display: block;
  margin:0 auto;
  width: 50%;

}
ul a{
  font-size: 35px;
  font-style: italic;
}
body{
  background-image: url('../images/background.jpg');
}
.with_border{
  border: 2px gray solid;

}
.kontakti_pic{
  width: 97%;
  border: 2px gray groove;
  margin: 4px;
}
 @font-face {
    font-family: PFDin; /* Гарнитура шрифта */
    src: url(PFDin.ttf); /* Путь к файлу со шрифтом */
   }
   p {
    font-family: PFDin;
    text-align: center;
    margin-top: 20px;
    font-size: 20pt;
    color: white;
   }
   .text{
   	font-family: PFDin;
    font-size: 25pt;
    color: white;
   }
   .text1{
   	font-family: PFDin;
    font-size: 20pt;
    color: white;
   }
   .btn{
      width: 20%;
      margin: 20px;
   }
   .some_image{
  width: 30%;
  margin: 4px;
  border: 2px #CCC solid;
  border-radius: 10px;
  margin-left: 0px;
  float: left;
   }
   .info-text{
    font-family: PFDin;
    font-size: 18pt;
    font-weight: 600;
    color: white;
   }
  .title_text{
    font-family: PFDin;
    font-size: 40pt;
    color: crimson;
    text-shadow: 2px 2px 2px black;
    font-style: italic;

  }
  .with-border{
    border: 2px #CCC solid;
    border-radius: 10px;
  }

/*.text {
	font-family: 'Playfair Display SC', serif;
	font-size: 10pt;
	font-style: italic;
	color: red;
	width: 20%;
}*/
#test-fade {
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
#quick-test-fade {
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
#middle-test-fade{
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}