doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
body#quick-test-fade
.container 
  each dj in array_dj
    table(border='4' bordercolor='gray')
      tr
        td(width='45%')
          p= dj.opisanie_foto
        td(width='65%')
          img(src='/'+dj.foto id=''+dj.id_foto).img_dj
script(src='js/script.js')
script(src='http://code.jquery.com/jquery-2.1.1.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')